
{% extends "modal_template.html" %}

{% block modal_id%}author_info{% endblock %}

{% block header %}
    <h2 id="author_info_header">Биография</h2>

{% endblock %}

{% block body %}
    <table style="width: 100%;">
        <p>
            <td style="width: 60%;">
                <p class="longtext edit field" id="author_info_text"></p>
            </td>
            <td>
                <img id="author_img" class="portrait field edit" style="width:300px; height:300px;">
                <h3 class="field"><div id="author_header" ></div ><span id='name' class='edit-span'>✎</span></h3>

            </td>

        </tr>
    </table>
    <hr>
    <form action="/index/composition/1" type="post">
            <input type="hidden" name="filter_col" value="author">
            <input type="hidden" id='filter_idx'  name="filter_idx">
         <input type="submit" value="Произведения автора">
    </form>
    <script>$("#filter_idx").attr('value', $("#author_info").attr('name'));</script>


{% endblock %}

{% block footer%}
{% endblock %}
