{% extends "layout.html" %}

{% block body %}
    <style>
            ul {
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;

            }
            li
            {
                display: block;
            }
            li a {
                background-color: #f1f1f1;
                display: inline-block;
                color: #000;
                padding: 8px 16px;
                width: 95%;
                text-decoration: none;
            }
            /* Change the link color on hover */
            li a:hover {
                background-color: #555;
                color: white;
            }
            .delete-span
            {
                display: none;
            }

    </style>
    <h2>{{ header}}</h2>
    <ul id="list_modal_select">
    {% for entity in entities%}
        <li class="litem">

            <a class='item' {{ "href=/comp/"+entity.id|string if entity_name=="composition"}}  id="{{ entity.id }}">
                {{ entity.name if entity.name else  entity.title}}
            </a>
            <span class="delete-span">✖</span>
        </li>
    {% endfor %}
    </ul>
    <p>
        {% include 'paginator.html'%}
    </p>
    {%  if entity_name=="author" %}
        <script>
            $(".item").click(function(e) {
                event.preventDefault();
                get_author(this.id, function (author) {
                        draw_author(author);
                });
            })
        </script>
    {% endif %}
    {%  if entity_name=="composition" %}
        <script>
            $(".delete-span").click(function(e) {
{#                event.preventDefault();#}
                var item = $(this).closest('.litem').find('.item');
                var id = item.attr('id');
                delete_instance('comp', id, function () {
                     item.remove();
                 });
             }).hover(function () {
                    $(this).closest(".litem").find('.item').addClass('highlight-red');
            }, function () {
                    $(this).closest(".litem").find('.item').removeClass('highlight-red');
            });
            $('.litem').hover(function(e) {
                    $(this).find(".delete-span").attr('style', 'display:inline-block;');
                },function () {
                    $(this).find(".delete-span").attr('style', 'display:none;');
            });
        </script>
    {% endif %}
{% endblock %}
