<!doctype html>
<title>Author Identification</title>
<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
    <div class='box' style="right: 20px; bottom:20px;"></div>
    <h1><a href="/" style=" color:inherit; text-decoration: none;"><span>▧</span> Система определения авторства художественного текста</a> </h1>
    <p>
        <a href="/index/author/1">Список известных авторов</a>
        <span>|</span>
        <a href="/index/composition/1">Список известных произведений</a>
    </p>

    {% block body %}
    {% endblock %}
    {% include 'author_info.html' %}
</body>