
<div class="modal modal-body">
    <div class="modal-content">
        <div class="modal-header">
            <span id="modal_close" class="close">&times;</span>
            {% block header %}
            {% endblock %}
        </div>
        <div class="modal-body">
            {% block body %}
            {% endblock %}
        </div>
        <div class="modal-footer">
            {% block footer %}
            {% endblock %}

        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementsByClassName("modal")[0];
    // Get the <span> element that closes the modal
    var modal_span = document.getElementById("modal_close");
    // When the user clicks the button, open the modal

    // When the user clicks on <span> (x), close the modal
    modal_span.onclick = function() {
        modal.style.display = "none";
    };
</script>
