
<div id="{% block modal_id %}{% endblock %}" class="modal modal-body">
    <div class="modal-content">
        <div class="modal-header">
            <span id="{{ self.modal_id()}}_close" class="close">&times;</span>
            {% block header %}
            {% endblock %}
        </div>
        <div class="modal-body">
            {% block body %}
            {% endblock %}
        </div>
        <div class="modal-footer">
            {% block footer %}
            {% endblock %}

        </div>
    </div>
</div>
<script>
    // Get the modal
    var {{self.modal_id()}} = document.getElementById("{{ self.modal_id()}}");
    // Get the <span> element that closes the modal
    var {{self.modal_id()}}_span = document.getElementById("{{ self.modal_id()}}_close");
    // When the user clicks the button, open the modal

    // When the user clicks on <span> (x), close the modal
    {{self.modal_id()}}_span.onclick = function() {
        {{self.modal_id()}}.style.display = "none";
    };
    $('.edit, .edit-span').click(function (t) {
        var field_name = this.id;
        alert(field_name);
    });
    $(".field").hover(function (e) {
        $(this).find(".edit-span").attr('style', 'display:inline');
    },function (e) {
        $(this).find(".edit-span").attr('style', 'display;none');
    });

</script>
