{% extends "layout.html" %}
{% block body %}
    <div class="form" name="comps" id="{{id}}" style=" text-align: center; width: 100%;">
            <style>
                .edit-span
                {
                    font-size: 15pt;
                    display: none;
                }
                h3:hover{
                    text-decoration: underline;
                }

            </style>

            <div class="field" name="title">
                <h1>
                    <div  class="edit overflow-text">
                        {{ title.strip("<>") }}
                    </div>
                    <span class='edit-span'>✎</span>
                </h1>
            </div>

            <h3 id="author_header">Автор: {{ author_name }}</h3>
            <div class="field" name="text">
                <div class="edit " style="text-align: justify; white-space: pre-wrap; width: 75%; overflow: scroll; max-height: 600px; display: inline-block;">
                    {{ text|string }}
                </div>
            </div>

        <script>
            $("#author_header").click(function(e) {
                event.preventDefault();
                get_author({{ author }}, draw_author);
            });
        </script>
    </div>
{% endblock %}